@keyframes clickVote
	100%
		opacity 0
		transform scale(1.8)

.best-ideas
	padding 80px 20px
	padding-top 0px
	.limit
		background-image url(../images/lineas.png)
		background-size 90px
		background-repeat no-repeat
		background-position right
		background-position-y 30px
		.container-fluid
			img
				width 80px

	.best-ideas-header
		text-align center
		h2
			color $orange
			font-size 30px
			bottom 0
			width 100%
		img
			&.dscroll
				opacity 0
				animation none
				&.dscroll-in
					animation scaleIn 1s ease backwards
					opacity 1
	.container-fluid
		position relative
		&.search-box
			padding 20px 0
			form
				input
					padding 10px
					padding-left 0
					padding-right 0
					background-position left
					background-position-x 8px
					color $orange
					border none
					border-bottom 2px solid $orange
					width 100%
					font-size 20px
					letter-spacing 4px
					text-align left
					background-image url(../images/zoom.png)
					background-repeat no-repeat
					background-size 22px
					text-indent 40px
					background-color transparent
	@media $break-md
		.best-ideas
			.limit
				background-size 130px
		.best-ideas-header.best-ideas-header
			margin-bottom 40px
			&:nth-child(even)
				padding-left 40px
				min-height 250px
			&:nth-child(odd)
				padding-right 40px
				min-height 250px
		.container-fluid
			height 150px
			padding 0 !important
			h2
				position absolute
			form
				position absolute
				bottom 0
				width 100%
		.idea-container:nth-child(odd)
			.idea
				margin-right 40px
				padding 0
		.idea-container:nth-child(even)
			.idea
				margin-left 40px
				padding 0
		.idea-container.idea-container
			min-height 270px
	.idea
		padding 20px 0
		.idea-autor
			text-align right
			.idea-autor-name
				display inline-block
				padding-left 30px
				font-size 20px
				color $orange
				margin-right 10px
				border-bottom 1px solid $orange
		.idea-body
			padding 15px 0px
			font-size 15px
			line-height 20px
			color #262626
			background-image url(../images/ideas-underline.png)
			background-repeat no-repeat
			background-position bottom center
			background-size 100%
		.idea-vote
			padding-top 20px
			text-align center
			a
				cursor pointer
				font-size 30px
				color $orange
				text-decoration none
				font-weight bold
				tap(0)
				.icons
					display inline
					bottom 10px
					position relative
					img
						margin-left 10px
						position absolute
						transform-origin 50% 100%
					.icon2.active
						animation clickVote .5s ease-in-out 
				&.gray
					color gray
					img
						-webkit-filter grayscale(100%)
						filter grayscale(100%)

	*::-webkit-input-placeholder
		color rgba($orange, .5)

	*:-moz-placeholder
		color rgba($orange, .5)

	*::-moz-placeholder
		color rgba($orange, .5)

	*:-ms-input-placeholder
		color rgba($orange, .5)