.contact
	background-size auto 100%
	background-position center
	position relative
	background-color $orange
	background-position center
	background-repeat no-repeat
	padding 20px
	padding-bottom 80px
	padding-top 80px
	ul
		list-style-type none
	.sub-contact
		.sub-contact-text
			color white
			h2
				font-size 32px
				margin-bottom 30px
			p
				font-size 22px
		.sub-contact-acept
			text-align right
			img
				margin-top 50px
				width 100px
		@media $break-sm
			.sub-contact-text
				top 30px
				h2
					font-size 40px
			.sub-contact-acept
				text-align right
				img
					margin-top 0
					width 180px
	.contact-form
		text-align center
		margin-top 40px
		
		.form-group
			margin-bottom 40px
			&.wrong-rut
				input
					background rgba(white, .3)
				&:after
					content "El rut ingresado es erroneo, intentelo nuevamente"
					color white
					font-family klavika
					font-weight 400
					text-transform uppercase
					top 10px
					position relative
					font-size 14px
		&.dscroll
			animation slideFadeUp 1s ease backwards
			animation-stagger 10, .5s
		input
			padding-bottom 5px
			&[type="text"]
			&[type="email"]
				letter-spacing 2px
				font-size 20px
				display block
				margin auto
				background transparent
				border none
				text-align center
				width 100%
				font-weight: 100
				color white
				border-bottom 1px white solid
				transition ease-in-out .2s
			&[name="name"]
				text-transform capitalize
			&[name="rut"]
				text-transform uppercase
			&.wrong-input
				background rgba(red, .5)
		.radio
			padding 20px 0
			padding-bottom 50px
			width 100%
			margin auto
			text-align center
			margin-top -30px
			color white
			.radio-title
				font-size 20px
				margin-bottom 10px
				font-weight 100
			.radio-radio
				display inline-block
				&.first-radio
					margin-right 50px
			label
				display inline-block
				position relative
				bottom 5px
				font-weight 100
				margin-right 8px
				font-size 20px
			input
				appearance none
				width 20px
				height 20px
				border 1px solid white
				display inline-block
				&:checked
					background white
		button
			cursor pointer
	.ideas-direct
		padding 10px 0
		width 100%
		background-color rgba(white, 1)
		position absolute
		bottom 0
		left 0
		font-size 20px
		.ideas-direct-line
			height 30px
			overflow hidden
			img
				overflow hidden
				width 100%
				height 2px
				&.dscroll
					opacity 0
					animation none
					&.dscroll-in
						animation slideLeft 1s ease backwards
						opacity 1
		.ideas-direct-text
			text-align center
			color $orange
			position absolute
			bottom 11px
			width 100%
			img
				width 23px
				margin-bottom -5px
				margin-left 10px
			span
				padding 0px 20px
				background white
				position relative
				bottom 2px
		a
			color $orange
			text-decoration none

	*::-webkit-input-placeholder
		color white

	*:-moz-placeholder
		color white

	*::-moz-placeholder
		color white

	*:-ms-input-placeholder
		color white
	.contact-mensaje
		display none
		font-weight 100
		height 33px
		color black
		background white
		text-align center
		position fixed
		width 300px
		z-index 9
		background-color white
		border-radius 10px
		padding 40px
		margin-left -150px
		left 50%
		top 35%
		color $orange
		font-weight bold
		&.show
			display block
		.close-message
			position absolute
			top -11px
			right -10px
			background white
			padding 10px
			border 2px solid
			border-radius 50%
			cursor pointer
@media $break-md
	.contact
		background-image url(../images/bg-hands.png)
	.ideas-direct
			.ideas-direct-line
				img
					transform scaleX(1)
	.contact-form
		form
			padding 0 60px
	.sub-contact
		padding 0 60px
@media (max-width: 344px)
	.ideas-direct
			.ideas-direct-text.ideas-direct-text
				span
					padding 0
@media (max-width: 403px)
	.contact 
		.ideas-direct 
			.ideas-direct-text 
				span
					bottom 4px
					font-size 16px
@media (max-width: 539px)
	.contact 
		.contact-form
			input[name=message]
				letter-spacing 0px
				font-size 14px