.limit
	max-width $page-limit
	display block
	margin auto
h1
strong
	font-weight bold
p
	font-weight 100
.cols
	margin-left 0px
	margin-right 0px

.icn-next
	width 90px
	height 30px
	background none
	border none
	background-image url(../images/submit.png)
	background-position center right
	background-size contain
	background-repeat no-repeat
	font-size 19px
	text-align left
	color white
	


input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:after {
  border: 1px solid white;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 14px;
  width: 14px;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
}
input[type="checkbox"]:checked + label:after {
  background transparent
  color: white;
  content "\2713"
  text-align center
}
input[type="checkbox"]:checked + label:before {
  font-weight: bold;
}
