@keyframes fadeIn
	0%
		opacity 0
@keyframes fadeOut
	100%
		opacity 0
.slide
	position relative
	height 800px
	.bullets
		display none
		position absolute
		bottom 50%
		z-index 1
		left 50px
		.bullet
			margin-bottom 5px
			background $orange
			border-radius 50%
			width 15px
			height @width
			opacity .6
			cursor pointer
			transition ease all .3s
			&.current
				transition ease all .3s
				width 19px
				height @width
				opacity 1
	.imagen
		height 100%
		width 100%
		bottom 200px
		position absolute
		background-size cover
		opacity 0
		transition ease-in-out all .5s
		&.current
			animation fadeIn .5s ease-in-out
			opacity 1
		img
			opacity 0
			width 100%
			height 100%
	.content
		width 100%
		position absolute
		bottom 0
		.limit
			margin-top -110px
			position relative
			background-image url(../images/content-xs.png)
			background-size cover
			.slide-text
				color $orange
				padding 50px 0px 50px 20px
				h2
					border-bottom $orange 3px solid
					display inline-block
					padding-bottom 3px
				p
					position relative
					margin-top 15px
					&:after
						content ""
						background-color $orange
						width 120px
						height 3px
						background-color #fd4f00
						position absolute
						left 0
						bottom -10px
				.logo-orange
					margin-top 40px
	.contact-direct
		width 100%
		background-color rgba($orange, .8)
		padding 8px 0
		position absolute
		bottom 0
		font-size 20px
		.contact-direct-line
			height 30px
			overflow hidden
			img
				overflow hidden
				width 100%
				transform-origin 50%
				transform scaleX(2.5)
				height 2px
		span
			bottom 5px
			position relative
		.contact-direct-text
			text-align center
			color white
			position absolute
			bottom 5px
			width 100%
			img
				width 23px
				margin-bottom -5px
				margin-left 10px
		span
			a
				color white
				text-decoration none
@media $break-md
	.slide
		height 800px
		.imagen
			height 100%
			position absolute
			bottom 0
			img
				display block
		.content
			position absolute
			top 0
			height 100%
			text-align right
			background-image url(../images/block.png)
			background-size 30% 100%
			background-repeat no-repeat
			background-position right
			.limit
				margin-top 0
				background-image url(../images/content-xl.png)
				background-size 500px 100%
				background-repeat no-repeat
				background-position right
				height 100%
				.slide-text
					padding-top 120px
					width 320px
					float right
					h1
						font-size 70px
						line-height 65px
						margin-bottom 20px
					h2
						font-size 35px
					p
						font-size 20px
						&:after
							right 0
							left initial
							
					>*
						animation slideFadeUp 1s ease backwards
						animation-stagger 10, .2s

		.contact-direct
			.contact-direct-line
				img
					transform scaleX(1)

@media screen and (max-width: 1060px)
	.slide-text.slide-text
		padding-right 20px !important