include includes/mixins
doctype html
html
	head
		title Abastible
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='css/main.css', rel='stylesheet', type='text/css')
		link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
		script(src='js/main.js', type='text/javascript')

		// Meta tags facebook
		meta(property='og:title', content="")
		meta(property='og:description', content="")
		meta(property='og:image', content="")

		// Meta tags twitter cards
		meta(name='twitter:card', content="summary_large_image")
		meta(name='twitter:title', content="")
		meta(name='twitter:description', content="")
		meta(name='twitter:image', content="")

		//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]

	body(data-api-url="/abastible-mejoremos-el-mundo/site/public")
		include includes/header

		.slide
			.imagen
				img(src="images/fondo-clean.png")
			.content
				.limit
					.slide-text
						h1
							| Mejorando el mundo, ganamos todos
						h2.hashtag
							| #MejoremosElMundo
						p
							| Ingresa a <strong>mejoremoselmundo.cl</strong> y cuéntanos qué haces para que tu barrio sea un mejor lugar para las futuras generaciones
						img.logo-orange(src="images/logo-orange.png")
		.contact
			.limit
				.cols.sub-contact.cols-gutter-0
						.sub-contact-text.col-xs-7
							h2.hashtag #MejoremosElMundo
							p Las ideas más votadas estarán participando<br>por <strong>una gran GiftCard de $500.000</strong>
						.sub-contact-acept.col-xs-5
							img(src="images/acept.png")
			.contact-form.limit
				form(method="post")
					.form-group
						input(type="text", placeholder="Nombre", name="name")
					.form-group
						input(type="text", placeholder="Rut", name="rut")
					.form-group
						input(type="email", placeholder="Email", name="email")
					.radio
						.radio-title ¿Eres cliente frecuente de Abastible?
						.radio-radio.first-radio
							input(type="radio", name="clienteFrecuente", value="yes" id="yes")
							label(for="yes") Si  
						.radio-radio
							input(type="radio", name="clienteFrecuente", value="no", id="no")
							label(for="no") No
					.form-group
						input(type="text", placeholder="Escribe tu acción para ayudar aquí", name="message", maxlength="300")
					button.icn-next.contact-button(type="submit") Enviar
			.action-mesage
			.ideas-direct
				.ideas-direct-line
					img(src="images/line-orange.png")
				.ideas-direct-text
					span
						| Mira y vota por tu idea favorita
						img(src="images/arrow-down-orange.png")
	

		.best-ideas
			.limit
				.cols.cols-gutter-0
					.col-sm-12.col-md-6.best-ideas-header
						.container-fluid
							img(src="images/bordered-acept.png")
							h2 #MejoremosElMundo
					.col-sm-12.col-md-6.best-ideas-header
						.container-fluid.search-box
							form
								input(type="text", placeholder="Buscar idea")
					+loop(5)
						+idea()
		include includes/footer