header
	.limit
		.header-content
			.header-logo
				a(href="home.html")
					img.logo(src="images/logo.png")
			.header-hamburger
				div.fa1
				div.fa2
				div.fa3
			nav
				.fa.fa-times
				ul
					li Inicio
					li Participa aquí
					li Ideas