mixin idea()
	.col-sm-12.col-md-6.idea-container
		article.idea
			.idea-autor
				.idea-autor-name Federico Muñoz Cabezas
				img(src="images/quotes.png")
			p.idea-body
				| Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
			.idea-vote
				a.vote(data-id="1") Votar
					.icons
						img(src="images/orange-acept.png")
						img.icon2(src="images/orange-acept.png")

mixin loop(limit)
	- for (var a=1; a<=limit; a++)
		block