@import "core/vars"
@import "mixins"
@import $bower-path + '/bootstrap-stylus/bootstrap/variables'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/clearfix'
@import $bower-path + '/bootstrap-stylus/bootstrap/grid'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/grid-framework'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/grid'
@import $bower-path + '/bootstrap-stylus/bootstrap/utilities'
@import "core/grid"
@import "core/fonts"
@import "core/animations"
@import "components/*"

@import $bower-path + '/components-font-awesome/css/font-awesome.min.css'

*
	margin 0
	padding 0
	outline 0
body
input
button
	font-family klavika