tap()
	if arguments == "0"
		-webkit-tap-highlight-color rgba(0,0,0,0)
	else
		-webkit-tap-highlight-color arguments


animation-stagger(iterations,delay,add=0)
	for iteration in (1..iterations)
		&:nth-child({iteration})
			animation-delay delay*iteration+add
