
// Fade

@keyframes fadeIn
	0%
		opacity 0

@keyframes fadeOut
	100%
		opacity 0



// Slide Up

@keyframes slideUp
	0%
		transform translateY(100%)
@keyframes slideFadeUp
	0%
		transform translateY(40px)
		opacity 0
@keyframes slideUpOut
	100%
		transform translateY(-100%)



// Slide Down

@keyframes slideDown
	0%
		transform translateY(-100%)
@keyframes slideFadeDown
	0%
		transform translateY(-40px)
		opacity 0
@keyframes slideDownOut
	100%
		transform translateY(100%)



// Slide Left

@keyframes slideLeft
	0%
		transform translateX(100%)
@keyframes slideFadeLeft
	0%
		transform translateX(40px)
		opacity 0
@keyframes slideLeftOut
	100%
		transform translateX(-100%)



// Slide Right

@keyframes slideRight
	0%
		transform translateX(-100%)
		opacity 0
	100%
		opacity 1
@keyframes slideFadeRight
	0%
		transform translateX(-40px)
		opacity 0
@keyframes slideRightOut
	100%
		transform translateX(100%)




// Scale

@keyframes scaleIn
	0%
		transform scale(0)

@keyframes scaleFadeIn
	0%
		transform scale(.8)
		opacity 0

@keyframes scaleOut
	100%
		transform scale(0)

@keyframes scaleFadeOut
	100%
		transform scale(.8)
		opacity 0





