@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavikalight-osf-webfont.woff2') format('woff2'),
         url('../fonts/klavikalight-osf-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavikamedium-osf-webfont.woff2') format('woff2'),
         url('../fonts/klavikamedium-osf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'klavika';
    src: url('../fonts/klavikaboldbold-webfont.woff2') format('woff2'),
         url('../fonts/klavikaboldbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}